[submodule "DataScienceFromScratch"]
	path = DataScienceFromScratch
	url = git@github.com:joelgrus/data-science-from-scratch.git
[submodule "DataScienceNotebooks"]
	path = DataScienceNotebooks
	url = git@github.com:donnemartin/data-science-ipython-notebooks.git
[submodule "MiningTheSocialWeb"]
	path = MiningTheSocialWeb
	url = git@github.com:ptwobrussell/Mining-the-Social-Web-2nd-Edition.git
[submodule "GalvanizePrimer"]
	path = GalvanizePrimer
	url = https://github.com/zipfian/data-science-primer
[submodule "OpenSourceDataScienceMasters"]
	path = OpenSourceDataScienceMasters
	url = https://github.com/datasciencemasters/go
[submodule "TorchTutorial"]
	path = TorchTutorial
	url = https://github.com/torch/tutorials
[submodule "FluentPython"]
	path = FluentPython
	url = https://github.com/fluentpython/notebooks
