[submodule "python/MiningTheSocialWeb"]
	path = python/MiningTheSocialWeb
	url = git@github.com:ptwobrussell/Mining-the-Social-Web-2nd-Edition.git
[submodule "python/DataScienceNotebooks"]
	path = python/DataScienceNotebooks
	url = git@github.com:donnemartin/data-science-ipython-notebooks.git
